body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #1a1a1a, #000);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #b60000, #6b0000);
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000;
}

.card {
    background: #111;
    margin: 25px auto;
    padding: 25px;
    width: 90%;
    max-width: 700px;
    border-radius: 16px;
    box-shadow: 0 0 15px #b60000aa;
}

h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #b60000;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    background: #b60000;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #e10000;
    box-shadow: 0 0 10px #e10000;
}

.btn-cancelar {
    width: 100%;
    background: #555;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #333;
}

table th {
    background: #b60000;
}

tbody tr:hover {
    background: #222;
}

.btn-accion {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 3px;
    color: white;
    font-size: 14px;
}

.btn-accion.editar {
    background-color: #0077ff;
}

.btn-accion.eliminar {
    background-color: #b60000;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #000c;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 20px #b60000;
}
